html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#bg {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: fixed;
  background-image: url("./assets/background.png");
  background-size: cover;
}

.ui {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
}

.start {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 45vw;
  opacity: 0.9;
  color: #fff;
  background-image: url("./assets/start-screen.webp");
  background-size: contain;
  aspect-ratio: 16 / 9;
}

.char1 {
  background-image: url("./assets/char_1_rest.png");
}

.char2 {
  background-image: url("./assets/char_2_rest.png");
}

.char1Fart {
  background-image: url("./assets/char_1_fart.png");
}

.char2Fart {
  background-image: url("./assets/char_2_fart.png");
}

.char {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  opacity: 0;
}

.active {
  opacity: 1;
}
